# Primera entrega ML - Ximena Perez Olognero

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "COSTOS MÉDICOS PERSONALES"

### Tema

In [ ]:
tema = "El tema que he elegido es sobre los costos médicos en relación a características personales" # Breve descripción del proyecto

In [ ]:
'''
    El dataset contiene caracteristicas sobre cada persona y en base a eso, los costos médicos
que debe afrontar. 
    Entre las variables 'features' se encuentra el sexo, la edad, el BMI y demás, y la target, 
la cual será el objeto de las predicciones, será los costos médicos.
    Por lo tanto, para realizar las predicciones, en primer lugar usaré modelos supervisados 
de regresión. Luego veré si puedo aplicar modelos no supervisados para mejorar el anterior. 

'''

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Regresión" # Regresión? Clasificación?
target_descr = "Costos médicos en base a variables personales" # Descripción de la variable objetivo
metricas = ["MSE, RMSE, MAE, MAPE, R²"] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlaces = ["https://www.kaggle.com/datasets/mirichoi0218/insurance"] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

In [1]:
import pandas as pd

In [5]:
# load dataset

df = pd.read_csv('./ML_Guide/data/insurance.csv')

In [6]:
# load dataset
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB