# Python | day 4 | for loop, functions (feat. basics & if/else)

### Ejercicio 0.1 - Conceptos básicos de Python

1. ¿Qué usamos para hacer un salto de línea en una impresión? ¿Y para un tabulador?

In [40]:
# SALTO DE LINEA 

print("Acá estamos rindiendo el examen de: \nData Science")

print("Acá estamos rindiendo el examen de: \n\tData Science")

Acá estamos rindiendo el examen de:
Data Science
Acá estamos rindiendo el examen de:
	Data Science

2. Haz un conversor de dólares a euros. Tendrás que utilizar la entrada

In [73]:
valor_dolar = float(input("Ingrese el valor en dólares"))
cambio = 0.92
dolar_a_euro = valor_dolar * cambio
dolar_a_euro = round(dolar_a_euro,2)

print(f"{valor_dolar} dolares, equivalen a: {dolar_a_euro} euros")

1000.0 dolares, equivalen a: 920.0 euros

3. Declara dos cadenas, una será tu nombre y la otra tu apellido. Declara tu edad en otra variable. Imprime una sentencia que incluya esas variables, usando ```f{}``. ¿Qué es eso?

In [78]:
nombre = "Ximena"
apellido = "Perez Olognero"
edad = 30

# CON F STRINGS
print(f"Hola, me llamo {nombre} {apellido} y tengo {edad} años")
# CON %S
print("Hola, me llamo %s %s y tengo %s años" %(nombre, apellido, edad))
# CON SIGNO ++
print("Hola, me llamo " + nombre + " " + apellido + " y tengo " + str(edad) + " años")
# CON COMAS ,,
print("Hola, me llamo", nombre, apellido, "y tengo", edad, "años")

Hola, me llamo Ximena Perez Olognero y tengo 30 años
Hola, me llamo Ximena Perez Olognero y tengo 30 años
Hola, me llamo Ximena Perez Olognero y tengo 30 años
Hola, me llamo Ximena Perez Olognero y tengo 30 años

4. Dada la lista `[4,7, -3]`, calcula su máximo, mínimo y suma.

In [79]:
lista = [4,7,-3]

print("SUMA:", sum(lista))
print("MINIMO:", min(lista))
print("MAXIMO", max(lista))

SUMA: 8
MINIMO: -3
MAXIMO 7

5. Redondea `38.38276252728` a 5 decimales.

In [56]:
numero = 38.38276252728
print(round(numero,5))

38.38276

6. Pon la frase "Born to be wild" en mayúsculas, luego en minúsculas, divídela por espacios y, por último, sustituye "wild" por "Geek".

In [66]:
frase = "Born to be wild"

mayusculas = frase.upper()
minusculas = mayusculas.lower()

palabras = frase.split()

frase_sustituida = frase.replace("wild", "Geek")

print("Frase en mayusculas: ", mayusculas)
print("Frase en minusculas: ", minusculas)
print("Frase separada por palabras: ", palabras)
print("Sustitución de última palabra: ", frase_sustituida)

Frase en mayusculas:  BORN TO BE WILD
Frase en minusculas:  born to be wild
Frase separada por palabras:  ['Born', 'to', 'be', 'wild']
Sustitución de última palabra:  Born to be Geek

7. Crea un programa en el que se recojan dos entradas, y la salida del programa sea un booleano que indique al usuario si esas entradas son iguales o no.

In [83]:
entrada_1 = (input("Escriba un numero del 1 al 10"))
entrada_2 = (input("Escriba un segundo numero del 1 al 10"))

if entrada_1 == entrada_2:
    print("Los numeros son iguales")
else: 
    print("Los numeros son distintos")

Son iguales

### Ejercicio 0.2 - If/else

1. Crea un árbol de decisión utilizando sentencias if/else, para determinar el precio de la entrada al cine. Si la edad del cliente está entre 5 y 15 años, ambos incluidos, el precio será de 5, si es jubilado y la película es una de las `peliculas_descuento`, el precio será de 4. En cualquier otro caso, será de 7 euros.

Debes crear la lista de `peliculas_discount` con tus películas favoritas.

In [90]:
peliculas = ["Mary Poppins", "El discurso del Rey", "Avatar"]
print(len(peliculas))

3

In [94]:
peliculas = ["Mary Poppins", "El discurso del Rey", "Avatar"]

edad = int(input("Introduzca su edad"))
pelicula_elegida = input("Cuál película desea ver?")

if edad >= 5 and  edad <= 15:
    print("El precio de la entrada es de 5 euros")
    
elif edad >= 60 and pelicula_elegida in peliculas:
    print("El precio de la entrada es de 4 euros")
    
else:
    print("El precio de la entrada es de 7 euros")

El precio de la entrada es de 7 euros

### Ejercicio 1 - Para

Si encuentras una forma de resolver alguna de estas preguntas sin utilizar el bucle for, no dudes en hacerlo.

1. Imprime los números entre 0 y 70 que son múltiplos de 3 y 5.

In [104]:
rango_de_numeros= range(71)
rango_de_numeros

for i in rango_de_numeros:
    if i %3 == 0 and i %5 == 0:
        print(i)

0
15
30
45
60

2. Imprime el siguiente patrón:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [107]:
for i in range(10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

3. Dadas dos listas de la misma longitud, crear una tercera lista que contenga la suma de ambas, elemento a elemento.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [126]:
lista1 = [1,2]
lista2 = [4,5]

In [133]:
lista3 = list(zip(lista1, lista2))
lista3

[(1, 4), (2, 5)]

In [125]:
tercera_lista = list(i + j for i, j in zip(lista1, lista2))
print(tercera_lista)

[5, 7]

4. Obtenga la primera y la segunda mejor puntuación de la lista.
La lista contiene duplicados.

In [6]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

In [23]:
# ELIMINAR DUPLICADOS CON BUCLE 
nueva_lista = []

for i in scores:
    if i not in nueva_lista:
        nueva_lista.append(i)

print(nueva_lista)

print(min(nueva_lista))
print(max(nueva_lista))

nueva_lista.sort()
print(nueva_lista)
print(nueva_lista[0])
print(nueva_lista[-1])

[86, 85, 83, 23, 45, 84, 1, 2, 0]
0
86
[0, 1, 2, 23, 45, 83, 84, 85, 86]
0
86
[86, 86, 85, 85, 85, 83, 23, 45, 84, 1, 2, 0]

In [36]:
# ELIMINAR DUPLICADOS CON SET
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

lista_a_conj = set(scores)
print(lista_a_conj)

conj_a_lista = list(lista_a_conj)
conj_a_lista.sort()
print(conj_a_lista)
print(conj_a_lista[0])
print(conj_a_lista[-1])

{0, 1, 2, 45, 83, 84, 85, 86, 23}
[0, 1, 2, 23, 45, 83, 84, 85, 86]
0
86

5. De la lista dada:
    
    a) Crea listas separadas de cadenas y números.

    b) Ordena la lista de cadenas en orden ascendente.

    c) Ordena la lista de cadenas en orden descendente

    d) Ordenar la lista de números de menor a mayor

    e) Ordenar la lista de números de mayor a menor

In [134]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [137]:
cadenas_de_texto = []
numeros = []
#  BUCLE FOR
for i in gadgets:
    if type(i) == str:
        cadenas_de_texto.append(i)
    elif type(i) == int or float:
        numeros.append(i) 
        
print(cadenas_de_texto)
print(numeros)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 310.28, 27.0, 1000]

In [143]:
#  LISTA DE COMPRENSIÓN
cadenas = []
[cadenas.append(i) for i in gadgets if type(i) == str]
print(cadenas)
nums = []
[nums.append(i) for i in gadgets if type(i) == int or type(i) == float]
print(nums)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 310.28, 27.0, 1000]

In [149]:
#CADENAS ASCENDIENTE
cadenas.sort()
print("Lista de cadenas en orden ascendente", cadenas)

#CADENA DESCENDIENTE
cadenas.reverse()
print("Lista de cadenas en orden descendiente", cadenas)

Lista de cadenas en orden ascendente ['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
Lista de cadenas en orden descendiente ['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']

In [154]:
#NUMEROS MAYOR A MENOR
nums.sort()
print("Numeros ordenados de menor a mayor:", nums)
#NUMEROS MENOR A MAYOR
nums.reverse()
print("Numeros ordenados de mayor a menor", nums)

Numeros ordenados de menor a mayor: [27.0, 100, 310.28, 1000]
Numeros ordenados de mayor a menor [1000, 310.28, 100, 27.0]

6. Haz una lista de diez alienígenas, cada uno de los cuales es de un color: 'rojo', 'verde' o 'azul'.
    - Puedes acortarlo a 'r', 'g' y 'b' si quieres, pero si eliges esta opción tienes que incluir un comentario explicando qué significan r, g y b.
    - Los alienígenas rojos valen 5 puntos, los verdes valen 10 puntos y los azules valen 20 puntos.
    - Utilice un bucle for para determinar el número de puntos que ganaría un jugador por destruir todos los alienígenas de su lista.

In [167]:
alienigenas = ["rojo", "verde", "azul", "rojo", "verde", "azul", "rojo", "verde", "azul", "rojo"]

puntos = 0

for i in alienigenas:
    if i == "rojo":
        puntos += 5
    elif i == "verde":
        puntos += 10
    elif i == "azul":
        puntos += 20
        
print("El jugador ha ganado:", puntos, "puntos.")

El jugador ha ganado: 110 puntos.

### Ejercicio 2 - Funciones

1. Escribe un programa de funciones para sumar dos números diferentes dados.

In [177]:
# FUNCION SIMPLE

def suma_numeros1(num1, num2):
    suma = num1 + num2
    return suma

suma_numeros1(6,2)

8

In [175]:
# FUNCION CON BUCLE
def suma_numeros(*args: int) -> int:

    suma = 0    
    
    for i in args:
        suma = suma + i
    return suma

suma_numeros(5,2)

7

2. Escribe un programa en Python para convertir una tupla de caracteres en una cadena.

    - Ejemplo de tupla: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Salida esperada : `"EL PUENTE"`
    
Sugerencia: Conviértalo en una lista.

In [186]:
def tupla_a_cadena(argumentos):
   
    lista_caracteres = list(argumentos)
    
   
    cadena = ''.join(lista_caracteres)
    
    return cadena

argumentos = ("T", "H", "E", " ",  "B", "R", "I", "D", "G", "E")
tupla_a_cadena(argumentos)

'THE BRIDGE'

3. Escribe un programa en Python que genere una lista cuyos valores sean cuadrados de números entre 1 y 30 (ambos incluidos), y devuelva una lista con los 5 primeros y últimos elementos de la lista.

4. Crea un programa en Python que calcule el factorial de un número.

El programa pedirá al usuario que introduzca un número (entrada) y devolverá el factorial de ese número.

5. Crea un programa que calcule la media.

El programa pedirá al usuario que especifique cuántos números quiere introducir, y mostrará un aviso para incluir número a número a una lista, y luego calculará la media de cada número de esa lista.