![imagen](./img/python.jpg)

# Programación funcional

En programación hay varios tipos de lenguajes. Como vimos en Notebooks anteriores, **Python es un lenguaje de programación orientado a objetos**. No obstante, es bastante versatil y **admite** otras funcionalidades propias de otros lenguajes, como es la **programación funcional**. En este Notebook verás qué utilidad tiene este tipo de programación, y cómo usarla en Python.

1. [Programacion funcional](#1.-Programacion-funcional)
2. [Funcion lambda](#2.-Funcion-lambda)
3. [Map](#3.-Map)
4. [Reduce](#4.-Reduce)
5. [Filter](#5.-Filter)
6. [Timeit](#6.-Timeit)
7. [Programacion funcional en Pandas](#7.-Programacion-funcional-en-Pandas)
8. [Resumen](#8.-Resumen)

## 1. Programacion funcional
Dependiendo del problema que queramos resolver, utilizaremos un tipo de lenguaje de programación u otro. Veamos la diferencia entre un lenguaje de programación orientado a objetos y uno funcional:
* **Programación Orientada a Objetos (OOP)**: sería el caso de Python. En este caso se encapsulan todos los elementos del programa en objetos, que son de cierto tipo, **tienen un estado**, atributos y funcionalidades. Lenguajes orientados a objetos son Java, Python, JavaScript, Ruby... entre otros.

* **Programación Funcional**: El programa se divide en un conjunto de funciones. Por tanto, es un entrada/salida continuo, ya que las funciones tienen un *input*, realizan operaciones, y después un *output*. Son lenguajes que ofrecen un buen rendimiento pero difíciles de desarrollar ya que hay que acudir mucho a la recursividad. Algunos de los lenguajes más usados son [Clojure](https://clojure.org) o [Scala](https://www.scala-lang.org).

Por tanto, ¿Python que es? ¿Es orientado a objetos...? ¿Es funcinal? **Python es orientado a objetos, pero además cuenta con ciertas funciones *built-in* propias de la programación funcional**, como `map` o `filter`, lo que nos va a aportar nuevas maneras de solventar problemas en nuestro programa, además de mejoras en rendimiento.

Como ves, Python nos va a permitir usar todas sus funcionalidades propias como lenguaje orientado a objetos que es, y además la posibilidad de combinarlas con otro tipo de programación, como es la funcional.


¿Cómo podemos iterar sobre una lista y calcular la suma de sus elementos?

In [ ]:
lista = [1,2,3,4,5]

suma = 0
for i in lista:
    suma += i
suma

A parte de la función *built-in* de Python `sum()`, tenemos también la opción de la recursividad, con la que no usamos bucles, y únicamente realizamos operaciones mediante funciones.

In [ ]:
def suma_fun(lista:list) -> int:
    if len(lista) == 0:
        return 0
    return lista[0] + suma_fun(lista[1:])

In [ ]:
lista = [1,2,3]
suma_fun(lista)

La principal diferecia radica en **el estado**. En el caso del `for` tenemos un programa que va cambiando su estado, debido a las diferentes variables que toman `suma` e `i`. Sin embargo, en el segundo ejemplo no hay estados. Son funciones que llaman a otras, tienen un *input* y un *output*. Lo veremos más en detalle en el Notebook.

## 2. Funcion lambda
Recuerda cómo era la sintaxis para crear funciones:
```Python
def nombre_funcion(argumentos):
    cosas de la funcion
    return output
```
Una función tiene un nombre, unos parámetros de entrada, operaciones dentro y un output. En este apartado se presenta una nueva manera más ágil de crear funciones, gracias a la sentencia `lambda`. Con `lambda` podrás crear funciones sencillas y de una única expresión.

Las funciones `lambda` **son anónimas**, no tienen un nombre que las identifique, simplemente se ejecuta el código de la función que declaremos. 

La sintaxis de una función `lambda` es:
```Python
lambda argumentos: expresion
```

Veamos un ejemplo

In [5]:
# Declaramos funcion
def suma(x:int,y:int) -> int:
    return x + y

# Guardamos en variable
suma_var = suma

# Vemos el tipo
print(type(suma_var))

# Usamos la funcion
suma_var(5, 7)

<class 'function'>

12

Como ves, las funciones son un objeto más, que podemos asignar a una variable. Veamos ahora cómo traducimos esto a una función `lambda`

In [7]:
lambda x,y: x + y

In [6]:
# Si la asignamos a una variable
suma_lambda = lambda x,y: x + y

suma_lambda(5,7)

12

Las funciones `lambda` no se usan solas, sino que son argumentos de funciones de más alto nivel, es decir, funciones cuyos parámetros de entrada son otras funciones, como `map`, `reduce` o `filter`.

Las `lambdas` también pueden ser una buena manera de escribir código más entendible. Veamos un ejemplo en el que trabajamos con coordenadas.

In [4]:
estaciones = ((40.4440297, -3.6956047), (40.4585318, -3.684715))

inicio = lambda x: x[0]
fin = lambda x: x[1]

print(inicio(estaciones))
print(fin(estaciones))

(40.4440297, -3.6956047)
(40.4585318, -3.684715)

En el siguiente código, solo devuelve los datos de la primera tupla porque define de nuevo Lambda por "lat" y "lon", pero dentro de "inicio" que sería la primera tupla

In [3]:
lat = lambda x: x[0]
lon = lambda x: x[1]

print(lat(inicio(estaciones)))
print(lon(inicio(estaciones)))

40.4440297
-3.6956047

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con lambda</h3>
         
<ol>
    <li>Crea una función lambda con tres argumentos, y que multiplique los tres </li>
    <li>Crea otra función lambda con un único argumento y que calcule la raíz cuadrada del mismo.</li>
</ol>
         
 </td></tr>
</table>

In [8]:
mult_3 = lambda x,y,z: x*y*z
mult_3(1,2,3)

6

In [9]:
import math

raiz = lambda x: math.sqrt(x)

raiz(9)

3.0

## 3. Map
Se trata de una función *built-in* que tiene dos argumentos. Unos es una función, y el otro un iterable, que puede ser una lista, tupla, string... **Lo que hace es aplicarle la función a cada uno de los argumentos del iterable**. Mapea cada valor del iterable, le aplica una operación, y crea un nuevo iterable al que le ha aplicado dicha operación.

Su sintaxis es:
```Python
map(funcion, iterable)
```
SIEMPRE LA FUNCIÓN DEL LADO DERECHO, Y DEL LADO IZQUIERDO EL ITERABLE

Se trata de una manera de **sustituir la funcionalidad de los bucles**. Muy útil cuando queramos aplicar operaciones a una lista entera.

La **función map** se utiliza cuando deseas aplicar una **transformación o una operación a cada elemento de una secuencia**, como una lista, array o cualquier otra estructura iterable. Lo que hace map es tomar una función y aplicarla a cada elemento de la secuencia, generando así una nueva secuencia con los resultados de aplicar esa función a cada elemento.

**EL ITERABLE** PUEDE SER: 
* LISTA
* TUPLA
* SET
* DICCIONARIO - En este caso iterará sobre las claves, salvo que le especifique lo contrario

> Cuando imprimo el mapeo ya sea como: list(), tuple(), set(), me sale el resultado del lambda. Ya que si no, aparece *"map object"*, es decir, dónde se guardó en la memoria el objeto del mapeo o filter. Y esos números indican también que es un iterable

In [52]:
my_list = [1,5,4,6,11]

new_list = map(lambda x: x + 2, my_list) # Esta función le suma a cada elemento del iterador 2

list(new_list)

[3, 7, 6, 8, 13]

En PRINT, podría imprimir también el MAPEO, como:
* TUPLE
* SET

NO diccionario porque no tengo clave:valor

In [18]:
# OPCIÓN 1 = BUCLE + VARIABLE CON OPERACIÓN - DE COMO HUBIESEMOS HECHO SIN LAMBDA
my_list = [1,5,4,6,11]

for i in my_list:
    suma = i + 2
    print (suma)

3
7
6
8
13

In [17]:
# OPCIÓN 2 = BUCLE + LISTA VACÍA - DE CÓMO HUBIESEMOS HECHO SIN LAMBDA
my_list = [1,5,4,6,11]

nueva = []
for i in my_list:
    nueva.append(i + 2)

print(nueva)

[3, 7, 6, 8, 13]

In [16]:
# OPCIÓN 3 = LISTA DE COMPRENSIÓN - DE COMO HUBIESEMOS HECHO SIN LAMBDA
my_list = [1,5,4,6,11]

nuevaa = [i+2 for i in my_list]
nuevaa

[3, 7, 6, 8, 13]

Fíjate que la función `map` devuelve un *map object*, que no es más que un iterable, convertible fácilmente a una lista. Como ves, de momento aplicaremos una función `lambda` con una única expresión, pero más adelante verás cómo puedes aplicarle tus propias funciones más complejas.

Veamos otro ejemplo con operaciones diferentes

##### **En LAMBDA, puedo meter:** 
* Una función creada por mi 
* Una función propia de Python
* Una función lambda propiamente dicha

#### EJEMPLO DE LAMBDA CON **FUNCIÓN PROPIA CREADA**

In [32]:
# ESTO SERÍA UNA FUNCIÓN NORMAL creada por mí 
def suma(x:int,y:int) -> int:
    return x + y

suma(8,5)

13

Pero como la función de arriba tiene dos argumentos y yo solo le pasaría uno 
debería ponerle un **ARGUMENTO con valor por defecto**, por ejemplo:

In [30]:
def suma(x:int,y:int = 5) -> int:
    return x + y

Entonces acá abajo usaría la función de arriba: 

- **"x"** de la función sería cada elemento del iterable/lista, 
- y le sumaría **"y"** que 
sería el 5 que viene por defecto.

In [31]:
my_list = [1,5,4,6,11]

neww_list = map(suma,my_list)
list(neww_list)

[6, 10, 9, 11, 16]

#### EJEMPLO DE LAMBDA CON **IF / ELSE**
En vez de crear una función como está en la primer celda de código para llamarla en **MAP**

In [45]:
def comprobar_par(num):
    if num % 2 == 0:
        return num
    else:
        return 0

In [48]:
my_list = [1,5,4,6,11]
neew_list = map(comprobar_par, my_list)
list(neew_list)

[0, 0, 4, 6, 0]

--> Creo un lambda con IF/ELSE que me devuelva los números pares, y si no, retorne 0:

In [38]:
# METO EL IF / ELSE EN LAMBDA
my_list = [1,5,4,6,11]

new_list = map(lambda x: x if x % 2 == 0  else 0, my_list)
list(new_list)

[0, 0, 4, 6, 0]

In [54]:
my_tuple = (True, False, True, True)

my_tuple = map(lambda x: not x, my_tuple) # x: -> sería cada elemento que está en mi_tuple
 
print(list(my_tuple))

[False, True, False, False]

`map` trabaja con iterables, por lo que también será posible aplicarle un `map` a un string.

In [55]:
my_tuple = ("AAA", "BBB", "CCC")

my_tuple = map(lambda x: "W-" + x, my_tuple) # a cada x de la tupla le pone W- antes

print(tuple(my_tuple))

('W-AAA', 'W-BBB', 'W-CCC')



##### FUNCIÓN LAMBDA + MAP

Puedes incluso separar la función `lambda`, para posteriormente usarla en otros lugares.

In [57]:
my_list = ("AAA", "BBB", "CCC")

my_fun = lambda x: "W-" + x  # guardo la función en una variable

new_list = map(my_fun, my_list)   # sintaxis MAP = (función, iterable) 

print(tuple(new_list))

('W-AAA', 'W-BBB', 'W-CCC')

##### FUNCIÓN NORMAL + MAP (SIN lambda)

**Incluso podrás aplicar tus propias funciones**. Imagina la versatilidad que te da esto. Dentro de cada función podrás realizar el cálculo que quieras, y ese calculo se le aplicará a cada elemento de tu iterable.

In [58]:
my_list = ("AAA", "BBB", "CCC")

def aniade_w(x:str) -> str:
    return "W-" + x

new_list = map(aniade_w, my_list)

print(tuple(new_list))

('W-AAA', 'W-BBB', 'W-CCC')

##### FUNCIÓN CON ROUND + VARIOS ARGUMENTOS + MAP

`map` también trabaja con funciones con varios argumentos, lo único que hay que hacer es añadirle un argumento más al `map`. Y esto es aplicable a *n* argumentos. Podría darse el caso en el que alguno de los iterables tenga menores dimensiones que el resto. Si ocurre eso, se aplicará el `map` hasta el iterable con la mínima longitud.

In [62]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

decimales = range(1,7)
print(list(decimales))

# round(numero decimal, cantidad de decimales)
result = map(round, circle_areas, decimales)

print(list(result))

[1, 2, 3, 4, 5, 6]
[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

**ROUND**: Siempre pide 2 argumentos = round(*número a redondear*, *cant. decimales*)

Por lo que acá map, funcionará como un bucle, y realizará la siguiente operación:
1. Pasará por cada número de circle_areas
2. Luego, pondrá en la posición de la cantidad de elementos de round, numeros del 1 al 6, por eso va redondeando progresivamente. 

Operaría de la siguiente manera:
```Python
- map(round, 3.56773, 1) 
- map (round, 5.57668, 2)
- map (round, 4.00914, 3)
- map (round, 56.24241, 4)
- map (round 9.01344, 5)
- map (round 32.00013, 6)
```
Si en la lista de números (circle_area) hubiera un número más, no podría iterarlo porque el range ubicado en el segundo lugar (para establecer la cantidad de decimales por número
) va del 1 al 6, porque lo que faltaría un argumento. 

**PERO MAP NO TIRA ERROR, sino, que no hace nada, funcionaría como un try/except**

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con map</h3>
         

         
<ol>
    <li>Añádele "W-"a todas las claves del diccionario</li>
    <li>Convierte todos los elementos de la tupla en enteros</li>
</ol>
         
 </td></tr>
</table>

In [72]:
my_dict = {'a':1,'b':2,'c':3}

new_dict = map(lambda x: "W-" + x, my_dict.keys()) # sería lo mismo no poner .keys(), ya que
                                                   # siempre va a iterar sobre las claves
print(list(new_dict))

['W-a', 'W-b', 'W-c']

- En el ejemplo anterior sería lo mismo NO poner .keys(), ya que siempre itera sobre las claves. 
- De hecho, si quiero que itere sobre los valores, debería:
    1. Primero, cambiar los números enteros a string porque si no salta error al unir con otro string.
    2. Segundo, poner my_dict.values()

In [75]:
def entero(x:str) -> int: ## FUNCIÓN INNECESARIA
    return int(x)

Esta última función sería totalmente innecesaria, porque si ya está la función de Python que convierte a enteros = **INT**, para que voy a crear una función que haga eso.

Eso se puede resolver mediante un mapeo (que sería como un bucle), aplicando int a cada elemento del iterable

In [84]:
my_tuple = ('1','12','7')

new_tuple = map(int, my_tuple)

print(tuple(new_tuple))

(1, 12, 7)

In [80]:
my_var= tuple(new_tuple)
my_var

('1', '12', '7')

## 4. Reduce
La función `reduce` no es *built-in* como tal, sino que está incorporada en el paquete de `functools`. Su nombre ya nos da alguna pista sobre lo que hace, **es una manera de agregar los datos**. Tiene esta sintaxis:

```Python
reduce(funcion, iterable[, initial]))
```

La función reduce se utiliza para aplicar una **función acumulativa** a los elementos de una secuencia de izquierda a derecha. La función acumulativa se llama con dos argumentos, el **acumulador** y el siguiente elemento de la secuencia, y el resultado se convierte en el nuevo valor del acumulador.
La operación se realiza de manera secuencial, donde el resultado de una operación se utiliza en la siguiente, lo que permite realizar cálculos acumulativos o agregados.


`reduce`, al igual que `map`, tiene dos argumentos. Uno de ellos es el iterable que vayamos a usar, y el otro es la lógica que le queramos aplicar al `reduce`. La función que se le aplica al reduce tiene dos argumentos, que son los dos primeros elementos del iterable. Tiene un tercer argumento que es opcional, y nos permite iniciar la operación con un valor. Lo veremos luego en un ejemplo.

**DIFERENCIAS ENTRE MAP Y REDUCE:**
En resumen, **MAP** se utiliza para aplicar una función a cada elemento de una secuencia y generar una nueva secuencia, mientras que **REDUCE** se utiliza para realizar una operación acumulativa en los elementos de una secuencia y producir un resultado único. Ambas funciones son útiles en diferentes contextos de programación, y la elección de cuál utilizar depende de la tarea que necesites realizar. 

>> `reduce` se utiliza generalmente para sumar, restar, multiplicar, dividir los elementos de una lista 

Si te fijas, `map` aplica la operación definida en la función a todos los elementos, devolviendo la misma lista, pero con los elementos transformados, mientras que **`reduce`, agrega todos los datos de la lista** y devuelve un resultado único.

In [2]:
from functools import reduce

lista = [1,3,5,6,2]

resultado = reduce(lambda x,y: x+y, lista)

print(resultado)

17

In [ ]:
# (1+3) = 4 (4 + 5) = 9 (9+6) = 15 (15+2) = 17
# [1,3,5,6,2]
# [4,5,6,2]
# [9,6,2]
# [15,2]
# [17]

In [14]:
lista # lista sigue siendo la original a la que se aplicó REDUCE

[1, 3, 5, 6, 2]

`reduce` hay que entenderlo como si fuese una función recursiva. La función de dentro tiene dos argumentos que son los dos primeros elementos del iterable, y después al resultado de la suma de ambos, se le aplica la misma operación sobre el tercer elemento, y así hasta que acaba el iterable.

**EJEMPLO DE CÓMO OPERA "REDUCE":**
Dada una lista y una operación:
 ```Python
lista = [1,2,3,4,5]
resultado = reduce(lambda x, y: x + y, lista)
```

1. Paso 1:
**x** es inicialmente igual al primer elemento de la lista (1).
**y** es igual al segundo elemento de la lista (2).
La función lambda reduce(lambda x, y: x + y) se aplica a x e y, lo que resulta en 1 + 2, y **el resultado (3) se convierte en el nuevo valor de x**.

2. Paso 2:
Ahora, **x es 3** (el resultado del paso anterior) y **y es el tercer elemento de la lista (3)**.
La función lambda lambda x, y: x + y se aplica nuevamente a x e y, lo que resulta en 3 + 3, y el resultado (6) se convierte en el nuevo valor de x.
.. y así, sucesivamente..

##### **FUNCIÓN DEL INITIALIZER**  =  ES OPCIONAL
Realmente el `reduce` lleva un tercer argumento llamado `initializer`. Por defecto es `None`, pero si lo cambiamos, cuando llamemos a la función, su primer argumento será ese `initializer`. Por ejemplo, si estamos sumando toda una colección sería como si el primer elemento de la colección fuese el `initializer`.

Es un valor inicial, que va OPCIONALMENTE en la tercera posición, a partir de la cual reduce comienza ejecutar la operación. 
* Por ejemplo - SUMA = si arranca de 100 y es suma, el resultado va a ser la suma del 100 + los elementos del iterable.
* Por ejemplo - RESTA = si arranca de 100 y es una resta, el resultado va a ser la resta de 100 - los elementos del iterable.

In [19]:
# EJEMPLO RESTA = 100 + 17
lista = [1,3,5,6,2]

resultado = reduce(lambda x,y: x+y, lista, 100)

print(resultado)

117

In [18]:
# EJEMPLO SUMA = 100 - 17
lista = [1,3,5,6,2]

resultado_2 = reduce(lambda x,y: x-y, lista, 100)
print(resultado_2)

83

In [5]:
lista_strings = ["Hola", "me", "llamo", "Ralph"]

resultado = reduce(lambda x,y: x+' '+y, lista_strings)

print(resultado)

Hola me llamo Ralph

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con reduce</h3>
         
Utiliza reduce para calcular el producto de todos los elementos de la siguiente tupla
         
 </td></tr>
</table>

In [ ]:
mi_tupla = (2,7,3,4,6)

In [ ]:
resultado = reduce(lambda x,y: x*y, mi_tupla)
print(resultado)

## 5. Filter
Se utiliza para seleccionar elementos que cumplan con una condición específica. `filter` aplicará esta función a cada elemento de la secuencia y, al final, generará una nueva secuencia que contiene solo los elementos para los cuales la función de filtro devolvió `True`.

Con esta función *built-in* podremos **filtrar elementos de un iterable**. `filter` tiene la siguiente sintaxis:

```Python
filter(funcion, iterable)
```

Como ves, funciona muy parecido a map. La diferencia es que ahora la función que se le aplica tiene una salida estilo `True`/`False` **(lo que se conoce como MÁSCARA)**. Y con ese `True`/`False` se filtra el iterable, respetando sus posiciones. Por ejemplo

```Python
lista1 = [-1, 10, 23, -5, -10]
```

Si filtras los números positivos, te queda un array del tipo:

```Python
lista_bools = [False, True, True, False, False]
```

Y eso es lo que se le aplica a la lista, conservando y devolviendo únicamente los `True`:

```Python
lista_resultado = [10, 23]
```

A diferencia de `map`, **en `filter` sólo se usa un iterable**. Además, recuerda que en el argumento de la función, no sólo podrás usar `lambda`s, sino que podrás aplicar tus propias funciones. Ahora bien, ten en cuenta que **el output de esas funciones tiene que ser un `True`/`False`**.

Veamos un ejemplo

In [6]:
lista = [ 1 , 3, 5, 6, 2]

filtrado = filter(lambda x: x >= 5, lista)

print(list(filtrado))

[5, 6]

O implementando nuestra propia función >> cuando llamamos en filter a otra función creada, **NO va lambda**. Va solamente: 
 ```Python
filter(función,iterable)
 ```

In [7]:
lista = [ 1 , 3, 5, 6, 2]

def mas_cinco(x:int) -> bool:
    if x >= 5:
        return True
    
    return False

filtrado = filter(mas_cinco, lista)

print(list(filtrado))

[5, 6]

Como ves, estas son otras formas más rápdas y elegantes de aplicar operaciones sobre colecciones.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con filter</h3>
         
Utiliza filter para conseguir quedarte únicamente con los floats de la siguiente tupla.
         
 </td></tr>
</table>

In [8]:
my_tuple = (1, 4., 10., 25)

In [9]:
def filter_floats(x) -> bool:
    if type(x) == float:
        return True
    else:
        return False

filtrado = filter(filter_floats, my_tuple)
print(tuple(filtrado))

(4.0, 10.0)

##### **ISINTANCE:**
Verifica la condición de un elemento. Y es útil por ejemplo, para reemplazar una función con IF.

Por ejemplo, esta función con IF: 
 ```Python
* def filter_floats(x) -> bool:
    if type(x) == float:
        return True
```
Podría reemplazarse con `isinstance` en `filter`:
```Python
filtrado = filter(lambda x: isinstance(x, float), my_tuple)
```

In [11]:
filtrado = filter(lambda x: isinstance(x, float), my_tuple)
print(tuple(filtrado))

(4.0, 10.0)

## 6. Timeit
Para el bootcamp, y en general si vas a realizar una analítica descriptiva de datos, no suele ser crítico el rendimiento en tu programa. Imagina que has desarrollado un clasificador de movimientos bancarios tipo *Fintonic*. Estos algoritmos suelen ser muy pesados ya que hay que buscar en muchos strings y hacer varias comprobaciones. Aun así, has conseguido que te clasifique cada movimiento en 0,5 segundos. Que está muy bien. El problema es cuando un cliente tiene 1000 movimientos en una cuenta y tienes que clasificarlos todos aplicando tu clasificador mediante un bucle. El programa se te dispara a 250 segundos -> 4 minutos aprox, que estará el cliente esperando a que tu clasificador acabe... muchísimo. Con programación funcional mejora mucho la cosa ya que no hay que iterar.

Por tanto, **cuando trabajes con muchos datos, ten en mente este tipo de funciones (`map`, `reduce`, `filter`) ya que la mejora en rendimiento es más que considerable.**

In [14]:
num_elementos = 100000

lista = list(range(num_elementos))

>> ##### %% DOBLE PORCENTAJE:
Se utiliza doble **%%** para llamar a los comandos que tiene Python, transformando la celda para escribir en otro lenguaje (por ej: Java, HTML) o en el caso de **timeit** cuenta los segundos/milisegundos/nanosegundos que tarda un código en ejecutarse.

In [15]:
%%timeit # timeit en un bucle es lo que mas tiempo tarda. MILISEGUNDOS ms

lista_output = []
for i in lista:
    lista_output.append(i + 5)

13.1 ms ± 1.3 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

Generalmente, la función **MAP** es lo más rápido. Tarda menos que un bucle for y que una lista de comprensión! Así, estoy optimizando el código:

In [13]:
%%timeit #un map tarda menos que en un bucle, junto a la lista de comprensión NANOSEGUNDOS ns

lista_output = map(lambda x: x + 5, lista)

394 ns ± 35.2 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [17]:
%%timeit # lista de comprensión tarda menos que el bucle, y más que el map 
[i+5 for i in lista]

8.57 ms ± 394 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Como ves, pasamos de milisegundos a nanosegundos.

## 7. Programacion funcional en Pandas
La programación funcional resulta muy útil cuando queremos aplicar operaciones a cada elemento de una columna. Para ello utilizamos la función de pandas `apply`.

En Data Analytics, trabajamos con **DataFrame**, que son tablas con filas y columnas, como podría ser una hoja de Excel, o las bases de datos relacionadas como SQL, que son filas y columnas también. 

Imaginemos que tenemos un DataFrame de temperaturas

In [18]:
import pandas as pd

weather = pd.DataFrame({"temperatura": [20, 15, 34, 4, 1, 25, 21, 29, 40]})
weather

   temperatura
0           20
1           15
2           34
3            4
4            1
5           25
6           21
7           29
8           40

Si quiero calcular una nueva variable que me indique si estoy en verano o invierno, aplicamos una función personalizada mediante `apply`. **APPLY ES UN MÉTODO DE PANDAS**

Para ello primero me defino la función.

##### **PANDAS + FUNCIÓN DEF**

In [25]:
def season(temp:int) -> str:
    if temp < 5:
        return "Invierno"
    elif temp > 30:
        return "Verano"
    else:
        return "Otra"
    
weather["season"] = weather["temperatura"].apply(season)
weather

   temperatura    season
0           20      Otra
1           15      Otra
2           34    Verano
3            4  Invierno
4            1  Invierno
5           25      Otra
6           21      Otra
7           29      Otra
8           40    Verano

##### **HEAD()**
El **head()** lo que hace es devolver las primeras 5 filas.

##### **PANDAS + LAMBDA**
Es posible también aplicar una función lambda en apply(), en vez de una función normal

In [26]:
weather["mas temperatura"] = weather["temperatura"].apply(lambda x: x + 5)
weather.head()

   temperatura    season  mas temperatura
0           20      Otra               25
1           15      Otra               20
2           34    Verano               39
3            4  Invierno                9
4            1  Invierno                6

In [27]:
weather["season mayusculas"] = weather["season"].apply(str.upper)
weather.head()

   temperatura    season  mas temperatura season mayusculas
0           20      Otra               25              OTRA
1           15      Otra               20              OTRA
2           34    Verano               39            VERANO
3            4  Invierno                9          INVIERNO
4            1  Invierno                6          INVIERNO

In [28]:
# (Grados °C × 9 / 5) + 32 = F

weather["temperatura_F"] = weather["temperatura"].apply(lambda x: (x *9/5)+32)
weather

   temperatura    season  mas temperatura season mayusculas  temperatura_F
0           20      Otra               25              OTRA           68.0
1           15      Otra               20              OTRA           59.0
2           34    Verano               39            VERANO           93.2
3            4  Invierno                9          INVIERNO           39.2
4            1  Invierno                6          INVIERNO           33.8
5           25      Otra               30              OTRA           77.0
6           21      Otra               26              OTRA           69.8
7           29      Otra               34              OTRA           84.2
8           40    Verano               45            VERANO          104.0

>> ##### **NUMPY / NP**
NumPy es una biblioteca que proporciona la función "np", y esto, indica que `where` proviene de NumPy. Si no incluyeras "np" y simplemente escribieras where en ese contexto, Python generaría un error porque no reconocería la función. El uso de "np" es necesario para indicar que where proviene de la biblioteca NumPy.

In [29]:
import numpy as np
weather['Negocio'] = np.where(weather['temperatura']>=20, True, False)
weather.head()

,temperatura,season,mas temperatura,season mayusculas,temperatura_F,Negocio
0,20,Otra,25,OTRA,68.0,True
1,15,Otra,20,OTRA,59.0,False
2,34,Verano,39,VERANO,93.2,True
3,4,Invierno,9,INVIERNO,39.2,False
4,1,Invierno,6,INVIERNO,33.8,False

## 8. Resumen
Como habrás podido comprobar en este Notebook, y en lo vimos en recursividad, esta manera de programar es bastante diferente. Ya no entendemos el programa como un conjunto de variables o estados, sino como una serie de `input`/`output`. Lo bueno que tiene **Python es que combina la programación orientada a objetos con la programación funcional**, lo que le otorga una gran potencia.

In [ ]:
# Funciones lambda
suma_lambda = lambda x, y: x + y
print(suma_lambda(5, 7))


# Funcion map
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = map(lambda x: x + 2 , my_list)
print(list(new_list))


# Funcion reduce
from functools import reduce
lista = [ 1 , 3, 5, 6, 2]
print(reduce(lambda a,b : a+b, lista)) 


# Filter
lista = [ 1 , 3, 5, 6, 2]
filtrado = filter(lambda x: x >= 5, lista)
print(list(filtrado))

In [1]:
def litres(time):
    litres_per_hour = time * 0.5
    return litres_per_hour

In [3]:
litres(1.5)

0.75

#### EJERCICIOS CODEWARS

In [10]:
def find_smallest_int(list):
   minimo = min(list)
   return minimo

find_smallest_int([4,5,8,4])

4

In [14]:
def eliminar_carac(arg:str):
    cadena_nueva = ''
    for i in arg:
        cadena_nueva += i
    return cadena_nueva[1:-1]

eliminar_carac("Hola")

'ol'

In [ ]:
def evaporator(content:int,evap_per_day:int,threshold:int):
    content = 100
    day = 
    while content > 10: 
        content -= evap_per_day
    
(100,10,5)